{% extends "model-page.html" %}

{% block content %}
<style>
    body {
        background-color: #f4f4f4;
        font-family: 'Nunito Sans', sans-serif;
        padding: 20px;
    }

    .content-container {
        max-width: 800px; /* Defina a largura máxima do conteúdo */
        margin: 0 auto; /* Centralize o conteúdo horizontalmente */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adicione um sombreamento suave */
        border-radius: 8px; /* Suavize os cantos */
        padding: 20px; /* Adicione um preenchimento interno */
    }

    .w3-container {
        background-color: #6cb2eb;
        color: white;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    .edit-button {
        background-color: #28a745;
        margin-right: 10px;
    }

    .delete-button {
        background-color: #dc3545;
    }
</style><br><br><br><br><br>

<div class="content-container"> <!-- Nova div para envolver o conteúdo -->
    <div class="w3-container">    
        <h2>Cadastros</h2>
    </div>

    <ul style="font-size: 18px">
        <a href="funcionario/">
            <button type="button">Novo Funcionário</button>
        </a>

        {% for cadastro in cadastros %}
        <li>
            Nome: {{ cadastro.Nome }}<br>
            Idade: {{ cadastro.Idade }} <br>
            Telefone:  {{ cadastro.Telefone }}
            <br>
            <a href="/cadastro/funcionario/?id={{ cadastro.id }}"><button class="edit-button" type="submit">Editar</button></a>
            <a href="/delete/{{cadastro.id}}"><button class="delete-button" type="submit">Excluir</button></a>
        </li>
        {% endfor %}
    </ul>
</div> <!-- Fechamento da nova div -->
{% endblock %}
